data/raw/
!data/raw.dvc
.venv

__pycache__/
*.py[cod]
*$py.class

*.log
*.out
*.err

.dvc/cache/
.dvc/tmp/

mlruns/

checkpoints/
*.ckpt
*.pt           
models/

.ipynb_checkpoints/

.vscode/
.idea/
.DS_Store
Thumbs.db

*.egg-info/
dist/
build/